<main>
    <div class="slideshow-container">
        {{#if animal.photos}}
            {{#each animal.photos}}
            <div class="mySlides fade">
                <div class="numbertext"></div>
                <img src="{{this.small}}" width="100%">
            </div>
            {{/each}}
            {{else}}
            <div class="mySlides fade">
                <img src="../images/placeholder-img.png" width="100%">
            </div>

        {{/if}}
            <a class="prevImage" onclick="plusSlides(-1)">&#10094;</a>
            <a class="nextImage" onclick="plusSlides(1)">&#10095;</a>
            <div class="dots-container">
                {{#each animal.photos}}
                    <span class="dot"></span>
                {{/each}}
            </div>
    </div>
    <section class="animal-info">
        <h2>{{animal.name}}</h2>
        <div class="information">
            <h5>{{animal.breeds.primary}}</h5>
            <span class="divider">🐾</span>
            <h5>{{animal.contact.address.city}}, {{animal.contact.address.state}}</h5>
        </div>
        <div class="information">
            <p>{{animal.age}}</p>
            <span class="small-divider">🧡</span>
            <p>{{animal.gender}}</p>
            <span class="small-divider">🧡</span>
            <p>{{animal.size}}</p>
        </div>
    </section>
    <nav class="animal-nav">
        <a class="animal-nav-link active" href="#about" id="link1">About</a>
        <a class="animal-nav-link" href="#adoption" id="link2">Adoption</a>
    </nav>
    <section class="more-information">
        <div id="about">
            <h3>About {{animal.name}}</h3>
            <h4>Characteristics:</h4>
            <p>
                {{formatTags animal.tags}}
            </p>
            <h4>Attributes:</h4>
            <ul class="animal-attributes">
                <li>Spayed or Neutered: {{isTrueOrFalse animal.attributes.spayed_neutered}}</li>
                <li>House Trained: {{isTrueOrFalse animal.attributes.house_trained}}</li>
                {{#if animal.attributes.declawed}}
                <li>Declawed: {{isTrueOrFalse animal.attributes.declawed}}</li>
                {{/if}}
                <li>Special Needs: {{isTrueOrFalse animal.attributes.special_needs}}</li>
                <li>Shots Current: {{isTrueOrFalse animal.attributes.shots_current}}</li>
            </ul>
            <p class="animal-attributes">
                For more information about {{animal.name}}, <a href="{{animal.url}}" target="_BLANK">click here!</a>
            </p>
        </div>
        <div id="adoption">
            <h3>Adoption Information</h3>
            {{#if animal.contact.address.address1}}
            <div class="location">
                <h4>Location</h4>
                <p>{{animal.contact.address.address1}}, {{animal.contact.address.city}}, {{animal.contact.address.state}}</p>
            </div>
            {{else}}
            <div class="location">
                <h4>Location</h4>
                <p>{{animal.contact.address.city}}, {{animal.contact.address.state}}</p>
            </div>
            {{/if}}
            <div class="email">
                <h4>Email</h4>
                <p>{{animal.contact.email}}</p>
            </div>
            {{#if animal.contact.phone}}
            <div class="phone">
                <h4>Phone</h4>
                <p>{{animal.contact.phone}}
            {{/if}}
            <p>
                For more information about adopting {{animal.name}}, <a href="{{animal.url}}" target="_BLANK">click here!</a>
            </p>

        </div>
    </section>

</main>

<script>
    const animalNav = document.querySelector(".animal-nav")
    const animalNavLink = document.querySelectorAll(".animal-nav-link")
    const navLinkOne = document.getElementById("link1")
    const navLinkTwo = document.getElementById("link2")
    const aboutSection = document.getElementById('about')
    const adoptionSection = document.getElementById('adoption')
    const animalAttributes = document.querySelectorAll(".animal-attributes")

    let slideIndex = 1
    showSlides(slideIndex)

    function plusSlides(n) {
        showSlides(slideIndex += n)
    }

    function currentSlide(n) {
        showSlides(slideIndex = n)
    }

    function showSlides(n) {
        let i
        let slides = document.querySelectorAll('.mySlides')
        let dots = document.querySelectorAll('.dot')
        const totalSlides = slides.length

        if (n > slides.length) {
            slideIndex = 1
        } if (n < 1) {
            slideIndex = slides.length
        }

        for(i = 0; i < slides.length; i++) {
            slides[i].style.display = 'none'
        }
        for (i = 0;  i < dots.length; i ++) {
            dots[i].className = dots[i].className.replace(" active", "")
        }

        slides[slideIndex - 1].style.display = "table"
        dots[slideIndex - 1].className += " active"

        const numberText = slides[slideIndex - 1].querySelector(".numbertext")
        numberText.textContent = `${slideIndex}/${totalSlides}`
    }

    document.addEventListener("click", function(e) {
        if(e.target === navLinkOne) {
            navLinkOne.classList.add('active')
            navLinkTwo.classList.remove('active')
            adoptionSection.style.display = 'none'
            aboutSection.style.display = 'block'
        } if(e.target === navLinkTwo) {
            navLinkTwo.classList.add('active')
            navLinkOne.classList.remove('active')
            aboutSection.style.display = 'none'
            adoptionSection.style.display = 'block'
        }
    })

</script>