    <main class="main">
        <div class="main__location">
            <h4 class="main__location_title">Enter your Location</h4>
            <form class="main__location_form">
                <input type="text" class="main__location_form_input" id="location" name="location" placeholder="Enter your zipcode here">
                <button class="main__location_form_button flex" type="submit">
                    <img src="../images/search-button.png" alt="search" height="20px" class="main__location_form_button-img">
                </button>
            </form>
        </div>
        {{#if dogs}}
        <h3>Available Dogs Near {{zipcode}}</h3>
        <div class="cards__container">
            {{#each dogs}}
            <a class="card" href="/pet/{{this.id}}">
                <img src="
                    {{#if this.primary_photo_cropped}}
                        {{this.primary_photo_cropped.full}}
                    {{else}}
                        ../images/placeholder-img.png
                    {{/if}}" 
                    alt="{{this.name}}" width="300" class="card-img">
                <div class="card-info-container">
                    <h4 class="animal-name">{{this.name}}</h4>
                    <div class="card-info-animal">
                        <p class="card-info">{{this.age}}</p>
                        <span class="info-divider">🐾</span>
                        <p class="card-info">{{this.gender}}</p>
                    </div>
                    <p class="card-info-location">{{this.distance}} Miles Away</p>
                </div>
            </a>
            {{/each}}
        </div>

        <div class="pagination">
            <button id="prev-page" {{#if (isEqual currentPage 1)}}disabled{{/if}}>Previous</button>
            <span>Page {{currentPage}} of {{totalPages}}</span>
            <button id="next-page" {{#if (isEqual currentPage totalPages)}}disabled{{/if}}>Next</button>
        </div>

        {{else}}
        <h5>{{error}}</h5>
        {{/if}}
    </main>

<script>
    const prevPageBtn = document.getElementById('prev-page')
    const nextPageBtn = document.getElementById('next-page')
    const form = document.querySelector(".main__location_form")

    form.onsubmit = function(e) {
        e.preventDefault()
        let zipcode = form.location.value.trim()
        console.log(zipcode)
        if(!zipcode || !(checkZipcodeFormat(zipcode))) {
            form.zipcode.value = ""
            return
        } else {
            localStorage.setItem('zipcode', zipcode)
        }
        form.location.value = ""
        window.location.href=`/dogs/${zipcode}`
    }

    {{!-- Checks Zipcode Format --}}
    const checkZipcodeFormat = (str) => {
    return /^\d{5}(-\d{4})?$/.test(str);
    }

    if(prevPageBtn) {
        prevPageBtn.onclick = function() {
            navigatePage(-1)
        }
    }

    if(nextPageBtn) {
        nextPageBtn.onclick = function() {
            navigatePage(1)
        }
    }

    function navigatePage(step) {
        const CURRENT_URL = new URL(window.location.href)
        const currentPage = parseInt(CURRENT_URL.searchParams.get('page')) || 1
        const newPage = currentPage + step

        CURRENT_URL.searchParams.set("page", newPage)
        window.location.href = CURRENT_URL.toString()
    }

</script>